// Colors
$color-base:        #ff7900;

$color-medium-gray: #CACACA;
$color-light-gray:  #F6F6F6;
$color-black:       #000000;
$color-white:       #FFFFFF;


$color-light-green: #E6F7F6;
$color-red:         #E03E52;
$color-light-red:   #FCEBED;
$color-orange:      #BC6123;
$color-light-orange:#F2E1D5;
$color-yellow:      #E2CC00;
$color-navy:        #004875;
$color-purple:      #5B5377;
$color-line:        #4A4F55;


$color-bg-disabled: #D3D6DA;
$color-disabled:    #86898F;
$color-card:        #F4F4F4;