.c-slide {
  padding: 120px 0;
  background: url('../img/bg-slide-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &-title {
    font-size: $size-48;
    line-height: $space-56;
    font-weight: $font-bold;
    color: $color-base;
    margin-bottom: $space-32;
    span {
      display: block;
    }
  }
  &-competions {
    display: flex;
    gap: $space-8;
    margin-bottom: $space-24;
    img {
      width: 48px;
    }
  }
  &-season {
    &__title {
      color: $color-white;
      font-size: $size-16;
      font-weight: $font-bold;
      margin-bottom: 0;
    }
    &__info {
      display: flex;
      align-items: center;
      gap: 12px;
      &-text {
        color: $color-white;
        font-weight: $font-bold;
      }
      &-logo{
        width: $size-56;
        &--dazn {
          width: $size-40;
        }
      }
    }
  }
  &-bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $color-white;
    text-align: center;
    padding-top: $space-24;
    &__info {
      display: flex;
      flex-direction: column;
      position: relative;
      left: -4px;
      &-price {
        position: relative;
        font-size: 80px;
        line-height: 1;
        font-weight: $font-bold;
        color: $color-base;
        margin-bottom: 8px;
        left: -$space-16;
        bottom: -$space-8;
        span {
          position: absolute;
          top: 6px;
          font-size: 50px;
        }
      }
      &-date {
        position: absolute;
        right: 22px;
        bottom: $space-48;
        color: $color-base;
        font-size: $size-16;
      }
      &-text {
        font-size: $size-16;
        color: $color-base;
        font-weight: $font-bold;
        margin-bottom: $space-16;
      }
    }
    &__channel {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $space-8;
      &-logo {
        width: 60px;
        text-align: center;
        &--dazn {
          width: $size-40;
        }
      }
    }
  }
}