// Colocación texto
.ta-right {text-align: right;}
.ta-left {text-align: left;}
.ta-center {text-align: center;}

.js-error-text {
  font-size: 11px;
  display: block;
  text-align: left;
  color: $color-red;
  line-height: $size-16;
}