.o-catalog {
  &-title {
    font-family: $ff-neosansregular;
    font-size: 32px;
    line-height: 48px;
    color: $color-black;
    font-weight: 500;
    margin-bottom: $space-32;
    text-align: center;
    &--help {margin-bottom: $space-48;}
    strong {
      font-family: $ff-neosansbold;
    }
  }
  &-text {
    font-family: $ff-opensansregular;
    font-size: $size-18;
    line-height: 24px;
    color: $color-base;
    text-align: center;
    margin-bottom: 2.5rem;
    strong {
      font-family: $ff-opensansbold;
    }
  }
}

.o-notice-baleares {
  font-family: $ff-opensansregular;
  color: $color-base;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;
  display: block;
  strong {
    font-family: $ff-opensansbold;
  }
}

.o-text-offer {
  font-family: $ff-opensansbold, Arial, Helvetica, sans-serif;
  color: $color-base;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: $space-32;
  &--regular {
    font-family: $ff-opensansregular, Arial, Helvetica, sans-serif;
    strong {
      font-family: $ff-opensansbold;
    }
  }
}


.o-page-title {
  display: flex;
  margin: 24px 0 28px 0;
  font-family: 'NeoSansBold';
  color: $color-black;
  font-size: $size-48;
  line-height: $size-48;
}

.o-text-fields{
  font-size: 12px;
  color: $color-base;
  font-family: $ff-opensansregular;
}

.o-title-video-plans {
  font-family: $ff-neosansregular;
  font-size: 32px;
  line-height: 48px;
  color: $color-white;
  font-weight: 500;
  margin-bottom: $space-40;
  text-align: center;
  strong {
    font-family: $ff-neosansbold;
  }
}

.o-img-video-plans {
  display: block;
  margin: 0 auto;
  width: $size-48;
  margin-bottom: $space-24;
}

.price-regular__strech {text-decoration: line-through;}

.o-text-conditions {
  font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif, Arial, sans-serif;
  font-size: 12px;
  color: $color-base;
  line-height: 20px;
  margin: 16px 0;
}

.o-info-contact-modal{
  font-size: 12px;
}

.o-price-aprox {
 font-family: $ff-neosansregular;
 font-size: $size-14;
 color: $color-black;
 strong {
  font-family: $ff-neosansbold;
 }
}

.o-product-new {
  text-transform: uppercase;
  color: $color-red !important;
  font-size: 8px;
  font-family: $ff-neosansbold;
  position: relative;
  margin-left: 8px;
}

.o-subtitle-genetic {
  font-size: $size-16;
  font-family: $ff-opensansregular;
  color: $color-base;
  margin-bottom: $space-40;
  text-align: center;
  line-height: $space-32;
  strong {
    font-family: $ff-opensansbold;
  }
}

.o-title-recommended{
  text-align: center;
  font-size: $size-20;
  font-family: $ff-neosansbold;
  color: $color-black;
  margin-bottom: $space-40;
  line-height: $size-24;
}

.o-description-title {
  font-family: $ff-neosansregular;
  font-size: $size-22;
  color: $color-black;
  margin-bottom: $space-32;
  strong {
    font-family: $ff-neosansbold;
  }
}

.o-button-video {
  margin-bottom: $space-56 !important;
}

.o-search {
  &-title{
    font-family: $ff-neosansbold;
    font-size: $size-48;
    line-height: $size-48;
    color: $color-black;
    margin: $space-48 0;
    strong {
      font-family: $ff-neosansbold;
    }
  }
  &-text {
    font-family: $ff-neosansregular;
    color: $color-black;
    font-size: $size-22;
    margin-bottom: $space-56;
    span {
      font-family: $ff-neosansbold;
      color: $color-primary;
    }
  }
}

.o-link {
  &-conditions{
    font-family: "OpenSansBold" !important;
    width: auto !important;
    color: #00a6a0 !important;
    display: inline !important;
  }
  &-green {
    font-family: $ff-opensansbold !important;
    color: $color-primary !important;
    top: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  .o-subtitle-genetic{
    margin-bottom: $space-32;
    line-height: $size-24;
  }
  .o-title-recommended{
    margin-bottom: $space-32;
  }
  .o-button-video {
    width: 100% !important;
    margin-bottom: $space-40 !important;
  }
  .o-search {
    &-title {
      font-size: $size-24;
      line-height: $size-24;
      margin: $space-24 0;
    }
    &-text {
      font-size: $size-18;
      margin-bottom: $space-32;
    }
  }
}

@media (max-width: 480px) {
  .o-catalog-title {
    font-size: $size-22;
    line-height: 32px;
    margin: 24px 0;
    &--help {
      margin:$space-32 0 $space-40;
    }
  }
  .o-catalog-text {
    font-size: $size-16;
    line-height: 24px;
    br {
      display: none;
    }
  }
  .o-page-title {
    margin: $space-24 0 !important;
    font-size: $size-24;
    line-height: $size-24;
  }
  .o-title-video-plans {
    font-size: $size-22;
    line-height: $size-32;
    margin-bottom: $space-48;
    padding: 0 $space-24;
  }
  .o-img-video-plans {
    margin-bottom: $space-24;
  }
  .o-text-conditions{
    margin-top: 0;
  }
}