.d-flex {display: flex !important;}

.visible-xs {display: none !important;}
.hidden-xs {display: flex !important;}

@media (max-width: 768px) {
  .d-none-xs {
    display: none !important;
  }

  .d-flex-xs {
    display: flex !important;
  }

  .visible-xs {display: flex !important;}
  .hidden-xs {display: none !important;}
  
}
/* Colocacion columnas responsive  */
@media (max-width: 480px) {
  .order-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }

  .order-1 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 1;
    order: 1;
  }
}
